# Limpieza de datos

La limpieza de datos implica observar más de cerca los problemas en los datos que ha seleccionado incluir en el análisis.

# Problema de datos

# Pivot tables

In [157]:
import pandas as pd
import numpy as np

Podemos crear un base de datos (DataFrame):

In [158]:
x = {'Company': ['Ford', 'Ford', 'VW', 'BMW', 'Cooper', 'Cooper'], 
     'Stars' : [1, 2, np.nan, 2, 1, 1], 
     'Weight' : [2, 4, 2, 2, 3, None], 
     'Origin' : ['China', 'Mexico', 'Mexico', None, 'China', np.nan], 
     'Length': [40, 50, 30, np.nan, 45, pd.NaT]
}

In [159]:
df  = pd.DataFrame(data = x)
df

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    NaN     2.0  Mexico     30
3     BMW    2.0     2.0    None    NaN
4  Cooper    1.0     3.0   China     45
5  Cooper    1.0     NaN     NaN    NaT

Guardamos en un archivo CSV (coma separated value)

In [160]:
df.to_csv('data.csv')

Alternativamente, podemos leer un conjunto de datos ya disponible:

In [161]:
df = pd.read_csv('/content/data.csv', index_col=0)
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Para verificar, ¿falta algún dato?:

In [162]:
df.isnull().values.any()

True

In [163]:
df.isnull().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

alternativamente:

In [164]:
df.isna().values.any()

True

In [165]:
df.isna().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

In [166]:
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

### Solucion 1: 

Descartar las observaciones con valores faltantes

In [167]:
df.dropna(inplace = True)

In [168]:
df.isna().values.any()

False

In [169]:
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
4  Cooper    1.0     3.0   China    45.0

El problema con esta estrategia es que, 
>> si falta algún dato en todo el conjunto de datos, la fila correspondiente se elimina.

In [170]:
df = pd.read_csv('/content/data.csv', index_col=0)
df.isna().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

In [171]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Suelte las columnas donde falta al menos un elemento.

In [172]:
ndf.dropna(axis = 1, inplace = True) # axis 1 is columns / axis 0 is rows. 
ndf

  Company
0    Ford
1    Ford
2      VW
3     BMW
4  Cooper
5  Cooper

In [173]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Drop the rows where all elements are missing.

In [174]:
ndf.dropna(how='all', inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Alternativamente: usamos Threshold. 

Mantenga solo las filas con al menos 2 valores que  **NO SEAN** `nan`

In [175]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [176]:
ndf.dropna(thresh=4, inplace = True) # In a row, it needs at least 4 nan values is needed, to maintain in df
ndf # in case of column  add   axis=1

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
4  Cooper    1.0     3.0   China    45.0

Defina en qué columnas buscar valores faltantes.

In [177]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [178]:
ndf.dropna(thresh = 5,  #if there is not 5 nan values, the column will be eliminated 
           axis = 1, 
           inplace = True
           ) 
ndf

  Company  Stars  Weight
0    Ford    1.0     2.0
1    Ford    2.0     4.0
2      VW    NaN     2.0
3     BMW    2.0     2.0
4  Cooper    1.0     3.0
5  Cooper    1.0     NaN

Para saber mas: 

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

### Solucion 2:

In [179]:
ndf = df.copy()

In [180]:
wm = ndf.Weight.mean()
wm

2.6

In [181]:
ndf['Weight'].fillna(value = wm, 
                    inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     2.6     NaN     NaN

[Datos faltantes: dos grandes problemas con la imputación media](https://www.theanalysisfactor.com/mean-imputation/)

In [182]:
ndf['Length'].fillna(value = ndf.Length.median(), 
                    inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN    42.5
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     2.6     NaN    42.5

In [183]:
mm  = ndf.Origin.mode()
mm

0     China
1    Mexico
dtype: object

In [184]:
mm[1]

'Mexico'

In [185]:
ndf['Origin'].fillna(value = mm[1], #'NoPais', 
                    inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0  Mexico    42.5
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     2.6  Mexico    42.5

In [186]:
ndf.isnull().values.any()

True

In [189]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Impute particular columns -

In [190]:
ndf.dropna(subset=['Origin', 'Length'], inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
4  Cooper    1.0     3.0   China    45.0

In [191]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Fill values in each column with favorite strategy:

In [202]:
ndf.Origin.mode()[0]

'China'

In [205]:
favs = {'Origin': ndf.Origin.mode()[0], 'Length': ndf['Length'].mean()}

In [213]:
ndf.Origin.fillna(ndf.Origin.mode()[0], inplace=True)
ndf.Length.fillna(ndf.Length.mean(), inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0   China    40.0
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN   China    40.0

more on `fillna` method : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

More on Imputing strategies: https://www.theanalysisfactor.com/seven-ways-to-make-up-data-common-methods-to-imputing-missing-data/

## ¿Cuándo es una mediana mejor en comparación con la media?

In [187]:
data = {'Salary':  [28, 30, 30, 35, 37, 40, 400]
}
adf = pd.DataFrame(data)
adf

   Salary
0      28
1      30
2      30
3      35
4      37
5      40
6     400

In [188]:
adf.describe()

           Salary
count    7.000000
mean    85.714286
std    138.653903
min     28.000000
25%     30.000000
50%     35.000000
75%     38.500000
max    400.000000

### Para seleccionar las columnas de la base de datos, puede usar la siguiente codigos:

In [214]:
df = pd.read_csv('/content/data.csv', index_col=0)
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

** Syntaxis ** de loc & iloc

* loc : If you use, `loc`, use the `names`

> df.`loc` [ row-start:row-end,  column-start:column_end]  



* iloc : If you use, `loc`, use the `indices`

> df.`iloc` [row-start:row-end, column-start:columnEnd]

In [216]:
ndf.columns

Index(['Company', 'Stars', 'Weight', 'Origin', 'Length'], dtype='object')

In [217]:
ndf.columns.sort_values()

Index(['Company', 'Length', 'Origin', 'Stars', 'Weight'], dtype='object')

In [219]:
ndf.loc[2:5 , 'Company':'Origin']  # rows 2 to 5, columns  'Company' to 'Origin'

  Company  Stars  Weight  Origin
2      VW    NaN     2.0  Mexico
3     BMW    2.0     2.0     NaN
4  Cooper    1.0     3.0   China
5  Cooper    1.0     NaN     NaN

In [220]:
favs = ['Stars', 'Weight', 'Origin']

In [221]:
ndf.loc[2:5 , favs]

   Stars  Weight  Origin
2    NaN     2.0  Mexico
3    2.0     2.0     NaN
4    1.0     3.0   China
5    1.0     NaN     NaN

In [223]:
ndf.iloc[2:5, [1,2, 3]] # iloc  - so, indices

   Stars  Weight  Origin
2    NaN     2.0  Mexico
3    2.0     2.0     NaN
4    1.0     3.0   China

In [225]:
ndf.columns

Index(['Company', 'Stars', 'Weight', 'Origin', 'Length'], dtype='object')

In [227]:
for i in ndf.columns:
  print(i)

Company
Stars
Weight
Origin
Length

In [228]:
ndf.head(4)

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN

In [229]:
ndf.Company.unique()

array(['Ford', 'VW', 'BMW', 'Cooper'], dtype=object)

In [230]:
df.groupby(['Company', 'Origin']).size()

Company  Origin
Cooper   China     1
Ford     China     1
         Mexico    1
VW       Mexico    1
dtype: int64

In [231]:
df[['Company', 'Origin']].value_counts()

Company  Origin
Cooper   China     1
Ford     China     1
         Mexico    1
VW       Mexico    1
dtype: int64

### Eliminar columns / Cambiar nombre de las columns

In [232]:
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [233]:
ndf2 = ndf.drop(['Stars', 'Origin',], axis = 1)
ndf2

  Company  Weight  Length
0    Ford     2.0    40.0
1    Ford     4.0    50.0
2      VW     2.0    30.0
3     BMW     2.0     NaN
4  Cooper     3.0    45.0
5  Cooper     NaN     NaN

In [235]:
ndf2.rename(columns = {'Company' : 'Empresa', 'Weight': 'Peso'}, inplace = True)
ndf2

  Empresa  Peso  Length
0    Ford   2.0    40.0
1    Ford   4.0    50.0
2      VW   2.0    30.0
3     BMW   2.0     NaN
4  Cooper   3.0    45.0
5  Cooper   NaN     NaN

## Datos perdidos - Tener en cuenta

* Excluya las filas o características. 
* Cumpliméntelas con un valor estimado.

Errores de datos	Utilice recursos lógicos para descubrir errores manuales y corríjalos. O, excluya las características.

Incoherencias de codificación	Decida un esquema de codificación simple y convierta y sustituya los valores.

Metadatos perdidos o erróneos	Examine manualmente los campos sospechosos y compruebe el significado correcto.

# Crear un informe de limpieza de datos


Registrar sus actividades de limpieza de datos es esencial para registrar las modificaciones de los datos. 

Los futuros proyectos de minería de datos se beneficiarán de los detalles del trabajo disponible.


Es una excelente idea considerar las siguientes cuestiones cuando genere el informe:


* ¿Qué tipos de ruido se han producido en los datos?
* ¿Qué métodos utiliza para eliminar el ruido? 
    
    > ¿Qué técnicas han demostrado ser eficaces?

* ¿Existen casos o atributos que no se pueden recuperar? 
> Asegúrese de registrar los datos que se han excluido por causas del ruido.